*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(27, 25, 25);
}

li{
    list-style: none;
}

body{
    font-family: 'Source Code Pro', monospace;
    background-color: #E5E5E5;
    background-size: cover;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    color: black;
}

.container{
    padding: 0px 32px;
    margin: 0 20px;
} 

.profile{
    border-radius: 50%;
    border: solid  black; 
    align-items: center;
}
.social-tree h1{
    margin-top: 1rem;
    font-size: 36px;
}
.social-tree p{
    font-size: 16px;
    font-style: bold;
    margin-bottom: 1rem;
}

.social-tree li{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
    width: 100%;
    padding: 15px;
    border: solid black;
}
.redes-sociais li{
    border: none;
    display:inline;
    justify-content: center;  
    align-items: center;
    margin: 0 0.5rem auto auto;
}

@media (min-width: 1024px) {

    .social-tree{
        width: 40vw;
        padding: 0 1rem;
    }
    .social-tree:first-child{
        padding: 8px;
    }
    .social-tree li{
        grid-template-columns: 1fr;
    }  
}